mixed-port: 7890
allow-lan: true
mode: rule
log-level: info

proxies:
  - name: "My-Proxy"
    type: socks5
    server: 127.0.0.1
    port: 9050
    udp: true

proxy-groups:
  - name: "Proxy"
    type: select
    proxies:
      - "My-Proxy"
      - DIRECT

rules:
  - MATCH,Proxy
